body {
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* avoid repetition by creating a class */

.pizza_class {
    /* box model */
    border: 1px solid #4f5d75;
    /* padding creates spaces around the edges */
    padding: 1em;
    margin: 1em;
    margin-bottom: 2em;
    margin-left: 0em;
    /* you can the borders round */
    border-radius: 1,5em;
    /* use inline block */
}


/* header and anchor element styling */
.inlineDisplay {
    display: inline;
}

/* body of the page styling */
.medium-pizza {
    background-color: #588b8b;
    flex: 1;
}

.large-pizza {
    background-color: #588b8b;
    flex: 1;
}

.small-pizza {
    background-color: #588b8b;
    flex: 1;
}

.contact-us {
    background-color: #c8553d;
}

/* making the web page responsive */
/* the way that I think of this is as an if else statement */
@media (min-width:760px) {
    /* .body {
        background-color:#E9C46A;
    } */
    .pizza_container {
        display: flex;
    }
}
