<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="../style-sheets/style.css">

        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    </head>
    
    <body>
        
        <div class="sections" x-data="pizzaCart">

                <header>
                    <h1 class="inlineDisplay">Pizza Cart Payment Page</h1>
    
                    <div>
                        <img src="../public/../public/shopping-cart.png" alt="home.png" width="40px">
                    </div>

                </header>
    
                <div class="section" x-show="showCartAndBtn">
                    <!-------------------------------------------------------- Cart Section  ----------------------------------------------------------->
    
                    <div class="pizza">

                        <!-- small pizza elements -->

                        <strong><label class="pizzaCartLabel" for="">Small Pizza</label></strong>

                        <!-- add to cart anchor element -->
                        <a @click="addToCart('small')" href="#"><img src="../public/add.png" alt="" width="30px"></a>
                        <!-- counter element -->
                        <strong><span x-text="counter.small"></span></strong>

                        <!-- remove pizza from cart anchor element -->
                        <a @click="removeFromCart('small')" href="#"><img src="../public/minus.png" alt="" width="30px"></a>

                        <!-- small pizza total element -->
                        <strong><span x-text="(totals.small).toFixed(2)"></span></strong>
                    </div>

                    <!-- medium pizza elements -->

                    <div class="pizza">
                        <strong><label class="pizzaCartLabel" for="">Medium Pizza</label></strong>

                        <!-- add to cart anchor element -->
                        <a @click="addToCart('medium')" href="#"><img src="../public/add.png" alt="" width="30px"></a>
                        <!-- counter element -->
                        <strong><span x-text="counter.medium"></span></strong>

                        <!-- remove pizza from cart anchor element -->
                        <a @click="removeFromCart('medium')" href="#"><img src="../public/minus.png" alt="" width="30px"></a>

                        <!-- medium pizza total element -->
                        <strong><span x-text="(totals.medium).toFixed(2)"></span></strong>
                    </div>


                    <!-- large medium -->

                    <div class="pizza">
                        <strong><label class="pizzaCartLabel" for="">Large Pizza</label></strong>

                        <!-- add to cart anchor element -->
                        <a @click="addToCart('large')" href="#"><img src="../public/add.png" alt="" width="30px"></a>
                        <!-- counter element -->
                        <strong><span x-text="counter.large"></span></strong>

                        <!-- remove pizza from cart anchor element -->
                        <a @click="removeFromCart('large')" href="#"><img src="../public/minus.png" alt="" width="30px"></a>

                        <!-- large pizza element -->
                        <strong><span x-text="(totals.large).toFixed(2)"></span></strong>
                    </div>

                    <!-- total element -->

                    <div class="pizza">

                        <!-- elements for the overall total for small, medium and large pizza -->
                        <strong><label class="pizzaCartLabel" for="">Total</label></strong>
                        <strong><span x-text="(total).toFixed(2)"></span></strong>
                    </div>

                    <!-- checkout button element -->
                    <div>
                        <strong><button x-show="showCartAndBtn" @click="showPayElement" class="buttons">Checkout</button></strong>

                        <!-- element for the pay -->
                        <div x-show="showElement">

                            <!-- message element -->
                            <div class="message" x-text="paymentFeedback"></div>

                            <!-- payment element -->
                            <label for=""> Payment amount here:<input type="text" x-model="payment"></label>
                            <strong><button @click="sendPaymentFeedback()" class="buttons">Pay</button></strong>

                        </div>
                    </div>

                </div>

                <div class="section">
                    <!-------------------------------------------------------- Menu Section  ----------------------------------------------------------->
    
                    <!-- this is a pizza container -->
        
                    <div class="pizza_container">
                        <!-- container -->
                        <!-- now add the class -->
                        <div class="pizza_class medium-pizza">
                            
                            <h2>Medium Pizza</h2>
                            <img src="../public/pizza.png" width="200">
                            <h3>R89.00</h3>
        
                            <div>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
        
                            <div>
                                <strong><label for="">Stock Available:<span x-text="pizzaAvailable.medium" ></span></label></strong>
                            </div>
        
                            <strong><button class="buttons" @click="addToCart('medium')">BUY</button></strong>
        
                        </div>
        
                        <div class="pizza_class large-pizza">
                            <h3>Large Pizza</h3>
                            <img src="../public/pizza.png" width="300">
                            <h3>R129.00</h3>
        
                            <div>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
        
                            <div>
                                <strong><label for="">Stock Available:<span x-text="pizzaAvailable.large" ></span></label></strong>
                            </div>
        
                            <strong><button class="buttons" @click="addToCart('large')">BUY</button></strong>
        
                        </div>
        
                        <div class="pizza_class small-pizza">
                            <h4>Small Pizza</h4>
                            <img src="../public/pizza.png" width="150">
                            <h3>R49.00</h3>
        
                            <div>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
        
                            <div>
                                <strong><label for="">Stock Available:<span x-text="pizzaAvailable.small" ></span></label></strong>
                            </div>
        
                            <strong><button class="buttons" @click="addToCart('small')">BUY</button></strong>
                    
                        </div>
                    </div>
                
                
                    <div class="pizza_class contact-us">
                        <h5>Contact Details</h5>
                        <div>Contact us at: 021 340 1231 info@PerfectPizza.co.za</div>
                    </div>

                </div>
        </div>


    </body>

    <script src="../app/pizza-cart.app.js"></script>
    <script src="../app/pizza-cart.dom.js"></script>

</html>